


body{
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    
    
}

header{
    background-color: #0a0b27;
    width: 100%;
    padding: 20px;
    position: fixed;
    
    z-index: 1;
    
    height: 42px;
}



header a{
    text-decoration: none;
    letter-spacing: 0px;
    margin: 0px 0;
    transition: color 1.5s
}

.container a:hover{
    color: red;
}

.container img{
    width:117px;
    height: 28px;
    margin-top: 10px;
    margin-left: 10px;
}

.container nav{
    margin-left: 160px;
    margin-top: -33px;
    margin-right: 9px;
}


.container nav a{
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px 12px;
    color: white;
}

.navigation-bar{
    display: flex;
    right: 42px;
    justify-content: flex-end;
    position: relative;
    top: -6px;
}
/* ----------------------------END OF HEADER------------------------------------------ */


/* ----------------------IMAGE1---------------------------------------------------- */

.image1{
    width: 100vw;
    height: auto;
    overflow: hidden;
    
}
.image1 img{
    width: 100%;
}


/* -----------------column1------------------ */


.column{
    display: flex;
    flex-direction: row;
    margin: -4px;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    height: 1701px;
 
}
.column1{
    width: 50%;
    background-color: rgb(240, 145, 48);
    height: 866px;
    display: flex;
    justify-content: center;
    height: 100%;
}
.column1 img{
    position:static;
    height: 462px;
    width: 168px;
    margin: auto;

}
.column1 h1{
    color: white;
    position: absolute;
    top: 1250px;
    font-size: 70px;
   
    width:200px
    
}

.frootilife{
    right: 700px;
}

/* -------------------column2---------------------------- */

.column2{
    padding-top: 120px;
    width: 50%;
    font-size: 24px;
   
}
.column2 p{
    
    width: 400px;
    margin: auto;
    margin-bottom: 10px;
    line-height: 1.2;
}


.socialmedia{
    display: flex;
    margin-left: 73px;
    margin-bottom: 10px;
}

.socialmedia a{
    text-decoration: none;
}


/* --------------------------frootifamilypicture--------------------------- */

.frootifamily img{
    width: 100%;
}

footer{
    font-size: 13px;
    padding: 80px;
}

.end{
    display: flex;
    justify-content: space-between;
}
footer{
    padding: 50px;
    
}
.end a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

footer a:hover{
    color: red;
    text-decoration: underline;
}


